body {
 font-family: Arial;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
    clear: both;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.selected {
  opacity: 1;
  stroke: black;
  stroke-width: 2px;
}

p{
  text-align: center;
}

}