body {
 font-family: Arial;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
    clear: both;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#frame {
  width: 500px;
  height: 500px;
}


line {
    stroke-width: 1px;
    stroke: black;
}

.selected {
  opacity: 1 !important;
  stroke: black;
  stroke-width: 1px;
}